<li class="priority">
  <div class="count left">2. </div>
  <div class="main_container left">
    <div class="status_bar" [ngClass] = "{ done: previous_selection }">
      <div class="icon"></div>
      {{ activity_group.name }}
    </div>
    <div class="divider1"></div>
    <div class="action_container custom_radio">
      <div
        *ngFor = "let activity of activities"
        (click) = "updateUnsaveResponse(activity)"
        [ngClass] ="{ grayscale: previous_selection && activity._id.$oid != previous_selection }">
        <span
          class="sudo-radio"
          [ngClass] ="{ checked: (activity._id.$oid == previous_selection ||
            (unsaved_response && activity._id.$oid == unsaved_response._id.$oid)) }">
        </span>
        <label>
          {{ activity.name }}
        </label>
        <div class="divider1"></div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
  <button
    class = "right btn-info text-medium line-height2 uppercase mat-button mat-raised-button"
    *ngIf="unsaved_response && (!previous_selection)"
    (click) = "saveResponse()">Save</button>
  <div class="clr"></div>
</li>
