<li class="reply">
  <div class="count left">3. </div>
  <div class="main_container left spacer">
    <div class="status_bar" [ngClass] = "{ done: previous_selection }">
      <div class="icon"></div>
      {{ question.body }}
    </div>
    <div class="divider1"></div>
    <div class="action_container custom_radio">
      <div *ngFor="let option of options" (click) = "saveResponse(question, option)">
        <span
          class="sudo-radio"
          [ngClass] ="{ checked: option._id.$oid == previous_selection }"></span>
        <label>
          {{ option.body }}
        </label>
        <div class="divider1"></div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</li>
