@media only screen {
	.small-push-0 {
		position: relative;
		left: 0;
		right: auto;
	}
	.small-pull-0 {
		position: relative;
		right: 0;
		left: auto;
	}
	.small-push-1 {
		position: relative;
		left: 3.33333%;
		right: auto;
	}
	.small-pull-1 {
		position: relative;
		right: 3.33333%;
		left: auto;
	}
	.small-push-2 {
		position: relative;
		left: 6.66667%;
		right: auto;
	}
	.small-pull-2 {
		position: relative;
		right: 6.66667%;
		left: auto;
	}
	.small-push-3 {
		position: relative;
		left: 10%;
		right: auto;
	}
	.small-pull-3 {
		position: relative;
		right: 10%;
		left: auto;
	}
	.small-push-4 {
		position: relative;
		left: 13.33333%;
		right: auto;
	}
	.small-pull-4 {
		position: relative;
		right: 13.33333%;
		left: auto;
	}
	.small-push-5 {
		position: relative;
		left: 16.66667%;
		right: auto;
	}
	.small-pull-5 {
		position: relative;
		right: 16.66667%;
		left: auto;
	}
	.small-push-6 {
		position: relative;
		left: 20%;
		right: auto;
	}
	.small-pull-6 {
		position: relative;
		right: 20%;
		left: auto;
	}
	.small-push-7 {
		position: relative;
		left: 23.33333%;
		right: auto;
	}
	.small-pull-7 {
		position: relative;
		right: 23.33333%;
		left: auto;
	}
	.small-push-8 {
		position: relative;
		left: 26.66667%;
		right: auto;
	}
	.small-pull-8 {
		position: relative;
		right: 26.66667%;
		left: auto;
	}
	.small-push-9 {
		position: relative;
		left: 30%;
		right: auto;
	}
	.small-pull-9 {
		position: relative;
		right: 30%;
		left: auto;
	}
	.small-push-10 {
		position: relative;
		left: 33.33333%;
		right: auto;
	}
	.small-pull-10 {
		position: relative;
		right: 33.33333%;
		left: auto;
	}
	.small-push-11 {
		position: relative;
		left: 36.66667%;
		right: auto;
	}
	.small-pull-11 {
		position: relative;
		right: 36.66667%;
		left: auto;
	}
	.small-push-12 {
		position: relative;
		left: 40%;
		right: auto;
	}
	.small-pull-12 {
		position: relative;
		right: 40%;
		left: auto;
	}
	.small-push-13 {
		position: relative;
		left: 43.33333%;
		right: auto;
	}
	.small-pull-13 {
		position: relative;
		right: 43.33333%;
		left: auto;
	}
	.small-push-14 {
		position: relative;
		left: 46.66667%;
		right: auto;
	}
	.small-pull-14 {
		position: relative;
		right: 46.66667%;
		left: auto;
	}
	.small-push-15 {
		position: relative;
		left: 50%;
		right: auto;
	}
	.small-pull-15 {
		position: relative;
		right: 50%;
		left: auto;
	}
	.small-push-16 {
		position: relative;
		left: 53.33333%;
		right: auto;
	}
	.small-pull-16 {
		position: relative;
		right: 53.33333%;
		left: auto;
	}
	.small-push-17 {
		position: relative;
		left: 56.66667%;
		right: auto;
	}
	.small-pull-17 {
		position: relative;
		right: 56.66667%;
		left: auto;
	}
	.small-push-18 {
		position: relative;
		left: 60%;
		right: auto;
	}
	.small-pull-18 {
		position: relative;
		right: 60%;
		left: auto;
	}
	.small-push-19 {
		position: relative;
		left: 63.33333%;
		right: auto;
	}
	.small-pull-19 {
		position: relative;
		right: 63.33333%;
		left: auto;
	}
	.small-push-20 {
		position: relative;
		left: 66.66667%;
		right: auto;
	}
	.small-pull-20 {
		position: relative;
		right: 66.66667%;
		left: auto;
	}
	.small-push-21 {
		position: relative;
		left: 70%;
		right: auto;
	}
	.small-pull-21 {
		position: relative;
		right: 70%;
		left: auto;
	}
	.small-push-22 {
		position: relative;
		left: 73.33333%;
		right: auto;
	}
	.small-pull-22 {
		position: relative;
		right: 73.33333%;
		left: auto;
	}
	.small-push-23 {
		position: relative;
		left: 76.66667%;
		right: auto;
	}
	.small-pull-23 {
		position: relative;
		right: 76.66667%;
		left: auto;
	}
	.small-push-24 {
		position: relative;
		left: 80%;
		right: auto;
	}
	.small-pull-24 {
		position: relative;
		right: 80%;
		left: auto;
	}
	.small-push-25 {
		position: relative;
		left: 83.33333%;
		right: auto;
	}
	.small-pull-25 {
		position: relative;
		right: 83.33333%;
		left: auto;
	}
	.small-push-26 {
		position: relative;
		left: 86.66667%;
		right: auto;
	}
	.small-pull-26 {
		position: relative;
		right: 86.66667%;
		left: auto;
	}
	.small-push-27 {
		position: relative;
		left: 90%;
		right: auto;
	}
	.small-pull-27 {
		position: relative;
		right: 90%;
		left: auto;
	}
	.small-push-28 {
		position: relative;
		left: 93.33333%;
		right: auto;
	}
	.small-pull-28 {
		position: relative;
		right: 93.33333%;
		left: auto;
	}
	.small-push-29 {
		position: relative;
		left: 96.66667%;
		right: auto;
	}
	.small-pull-29 {
		position: relative;
		right: 96.66667%;
		left: auto;
	}
	.column {
		position: relative;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		float: left;
	}
	.columns {
		position: relative;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		float: left;
	}
	.small-1 {
		width: 3.33333%;
	}
	.small-2 {
		width: 6.66667%;
	}
	.small-3 {
		width: 10%;
	}
	.small-4 {
		width: 13.33333%;
	}
	.small-5 {
		width: 16.66667%;
	}
	.small-6 {
		width: 20%;
	}
	.small-7 {
		width: 23.33333%;
	}
	.small-8 {
		width: 26.66667%;
	}
	.small-9 {
		width: 30%;
	}
	.small-10 {
		width: 33.33333%;
	}
	.small-11 {
		width: 36.66667%;
	}
	.small-12 {
		width: 40%;
	}
	.small-13 {
		width: 43.33333%;
	}
	.small-14 {
		width: 46.66667%;
	}
	.small-15 {
		width: 50%;
	}
	.small-16 {
		width: 53.33333%;
	}
	.small-17 {
		width: 56.66667%;
	}
	.small-18 {
		width: 60%;
	}
	.small-19 {
		width: 63.33333%;
	}
	.small-20 {
		width: 66.66667%;
	}
	.small-21 {
		width: 70%;
	}
	.small-22 {
		width: 73.33333%;
	}
	.small-23 {
		width: 76.66667%;
	}
	.small-24 {
		width: 80%;
	}
	.small-25 {
		width: 83.33333%;
	}
	.small-26 {
		width: 86.66667%;
	}
	.small-27 {
		width: 90%;
	}
	.small-28 {
		width: 93.33333%;
	}
	.small-29 {
		width: 96.66667%;
	}
	.small-30 {
		width: 100%;
	}
	.small-offset-0 {
		margin-left: 0 !important;
	}
	.small-offset-1 {
		margin-left: 3.33333% !important;
	}
	.small-offset-2 {
		margin-left: 6.66667% !important;
	}
	.small-offset-3 {
		margin-left: 10% !important;
	}
	.small-offset-4 {
		margin-left: 13.33333% !important;
	}
	.small-offset-5 {
		margin-left: 16.66667% !important;
	}
	.small-offset-6 {
		margin-left: 20% !important;
	}
	.small-offset-7 {
		margin-left: 23.33333% !important;
	}
	.small-offset-8 {
		margin-left: 26.66667% !important;
	}
	.small-offset-9 {
		margin-left: 30% !important;
	}
	.small-offset-10 {
		margin-left: 33.33333% !important;
	}
	.small-offset-11 {
		margin-left: 36.66667% !important;
	}
	.small-offset-12 {
		margin-left: 40% !important;
	}
	.small-offset-13 {
		margin-left: 43.33333% !important;
	}
	.small-offset-14 {
		margin-left: 46.66667% !important;
	}
	.small-offset-15 {
		margin-left: 50% !important;
	}
	.small-offset-16 {
		margin-left: 53.33333% !important;
	}
	.small-offset-17 {
		margin-left: 56.66667% !important;
	}
	.small-offset-18 {
		margin-left: 60% !important;
	}
	.small-offset-19 {
		margin-left: 63.33333% !important;
	}
	.small-offset-20 {
		margin-left: 66.66667% !important;
	}
	.small-offset-21 {
		margin-left: 70% !important;
	}
	.small-offset-22 {
		margin-left: 73.33333% !important;
	}
	.small-offset-23 {
		margin-left: 76.66667% !important;
	}
	.small-offset-24 {
		margin-left: 80% !important;
	}
	.small-offset-25 {
		margin-left: 83.33333% !important;
	}
	.small-offset-26 {
		margin-left: 86.66667% !important;
	}
	.small-offset-27 {
		margin-left: 90% !important;
	}
	.small-offset-28 {
		margin-left: 93.33333% !important;
	}
	.small-offset-29 {
		margin-left: 96.66667% !important;
	}
	.small-reset-order {
		float: left;
		left: auto;
		margin-left: 0;
		margin-right: 0;
		right: auto;
	}
	.column.small-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
		&:last-child {
			float: none;
		}
	}
	.columns.small-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
		&:last-child {
			float: none;
		}
	}
	.column.small-uncentered {
		float: left;
		margin-left: 0;
		margin-right: 0;
		&:last-child {
			float: left;
		}
	}
	.columns.small-uncentered {
		float: left;
		margin-left: 0;
		margin-right: 0;
		&:last-child {
			float: left;
		}
	}
	.column.small-uncentered.opposite {
		float: right;
	}
	.columns.small-uncentered.opposite {
		float: right;
	}
	.row.small-collapse {
		>.column {
			padding-left: 0;
			padding-right: 0;
		}
		>.columns {
			padding-left: 0;
			padding-right: 0;
		}
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.row.small-uncollapse {
		>.column {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			float: left;
		}
		>.columns {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			float: left;
		}
	}
}
@media only screen and (min-width: 40.0625em) {
	.medium-push-0 {
		position: relative;
		left: 0;
		right: auto;
	}
	.medium-pull-0 {
		position: relative;
		right: 0;
		left: auto;
	}
	.medium-push-1 {
		position: relative;
		left: 3.33333%;
		right: auto;
	}
	.medium-pull-1 {
		position: relative;
		right: 3.33333%;
		left: auto;
	}
	.medium-push-2 {
		position: relative;
		left: 6.66667%;
		right: auto;
	}
	.medium-pull-2 {
		position: relative;
		right: 6.66667%;
		left: auto;
	}
	.medium-push-3 {
		position: relative;
		left: 10%;
		right: auto;
	}
	.medium-pull-3 {
		position: relative;
		right: 10%;
		left: auto;
	}
	.medium-push-4 {
		position: relative;
		left: 13.33333%;
		right: auto;
	}
	.medium-pull-4 {
		position: relative;
		right: 13.33333%;
		left: auto;
	}
	.medium-push-5 {
		position: relative;
		left: 16.66667%;
		right: auto;
	}
	.medium-pull-5 {
		position: relative;
		right: 16.66667%;
		left: auto;
	}
	.medium-push-6 {
		position: relative;
		left: 20%;
		right: auto;
	}
	.medium-pull-6 {
		position: relative;
		right: 20%;
		left: auto;
	}
	.medium-push-7 {
		position: relative;
		left: 23.33333%;
		right: auto;
	}
	.medium-pull-7 {
		position: relative;
		right: 23.33333%;
		left: auto;
	}
	.medium-push-8 {
		position: relative;
		left: 26.66667%;
		right: auto;
	}
	.medium-pull-8 {
		position: relative;
		right: 26.66667%;
		left: auto;
	}
	.medium-push-9 {
		position: relative;
		left: 30%;
		right: auto;
	}
	.medium-pull-9 {
		position: relative;
		right: 30%;
		left: auto;
	}
	.medium-push-10 {
		position: relative;
		left: 33.33333%;
		right: auto;
	}
	.medium-pull-10 {
		position: relative;
		right: 33.33333%;
		left: auto;
	}
	.medium-push-11 {
		position: relative;
		left: 36.66667%;
		right: auto;
	}
	.medium-pull-11 {
		position: relative;
		right: 36.66667%;
		left: auto;
	}
	.medium-push-12 {
		position: relative;
		left: 40%;
		right: auto;
	}
	.medium-pull-12 {
		position: relative;
		right: 40%;
		left: auto;
	}
	.medium-push-13 {
		position: relative;
		left: 43.33333%;
		right: auto;
	}
	.medium-pull-13 {
		position: relative;
		right: 43.33333%;
		left: auto;
	}
	.medium-push-14 {
		position: relative;
		left: 46.66667%;
		right: auto;
	}
	.medium-pull-14 {
		position: relative;
		right: 46.66667%;
		left: auto;
	}
	.medium-push-15 {
		position: relative;
		left: 50%;
		right: auto;
	}
	.medium-pull-15 {
		position: relative;
		right: 50%;
		left: auto;
	}
	.medium-push-16 {
		position: relative;
		left: 53.33333%;
		right: auto;
	}
	.medium-pull-16 {
		position: relative;
		right: 53.33333%;
		left: auto;
	}
	.medium-push-17 {
		position: relative;
		left: 56.66667%;
		right: auto;
	}
	.medium-pull-17 {
		position: relative;
		right: 56.66667%;
		left: auto;
	}
	.medium-push-18 {
		position: relative;
		left: 60%;
		right: auto;
	}
	.medium-pull-18 {
		position: relative;
		right: 60%;
		left: auto;
	}
	.medium-push-19 {
		position: relative;
		left: 63.33333%;
		right: auto;
	}
	.medium-pull-19 {
		position: relative;
		right: 63.33333%;
		left: auto;
	}
	.medium-push-20 {
		position: relative;
		left: 66.66667%;
		right: auto;
	}
	.medium-pull-20 {
		position: relative;
		right: 66.66667%;
		left: auto;
	}
	.medium-push-21 {
		position: relative;
		left: 70%;
		right: auto;
	}
	.medium-pull-21 {
		position: relative;
		right: 70%;
		left: auto;
	}
	.medium-push-22 {
		position: relative;
		left: 73.33333%;
		right: auto;
	}
	.medium-pull-22 {
		position: relative;
		right: 73.33333%;
		left: auto;
	}
	.medium-push-23 {
		position: relative;
		left: 76.66667%;
		right: auto;
	}
	.medium-pull-23 {
		position: relative;
		right: 76.66667%;
		left: auto;
	}
	.medium-push-24 {
		position: relative;
		left: 80%;
		right: auto;
	}
	.medium-pull-24 {
		position: relative;
		right: 80%;
		left: auto;
	}
	.medium-push-25 {
		position: relative;
		left: 83.33333%;
		right: auto;
	}
	.medium-pull-25 {
		position: relative;
		right: 83.33333%;
		left: auto;
	}
	.medium-push-26 {
		position: relative;
		left: 86.66667%;
		right: auto;
	}
	.medium-pull-26 {
		position: relative;
		right: 86.66667%;
		left: auto;
	}
	.medium-push-27 {
		position: relative;
		left: 90%;
		right: auto;
	}
	.medium-pull-27 {
		position: relative;
		right: 90%;
		left: auto;
	}
	.medium-push-28 {
		position: relative;
		left: 93.33333%;
		right: auto;
	}
	.medium-pull-28 {
		position: relative;
		right: 93.33333%;
		left: auto;
	}
	.medium-push-29 {
		position: relative;
		left: 96.66667%;
		right: auto;
	}
	.medium-pull-29 {
		position: relative;
		right: 96.66667%;
		left: auto;
	}
	.column {
		position: relative;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		float: left;
	}
	.columns {
		position: relative;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		float: left;
	}
	.medium-1 {
		width: 3.33333%;
	}
	.medium-2 {
		width: 6.66667%;
	}
	.medium-3 {
		width: 10%;
	}
	.medium-4 {
		width: 13.33333%;
	}
	.medium-5 {
		width: 16.66667%;
	}
	.medium-6 {
		width: 20%;
	}
	.medium-7 {
		width: 23.33333%;
	}
	.medium-8 {
		width: 26.66667%;
	}
	.medium-9 {
		width: 30%;
	}
	.medium-10 {
		width: 33.33333%;
	}
	.medium-11 {
		width: 36.66667%;
	}
	.medium-12 {
		width: 40%;
	}
	.medium-13 {
		width: 43.33333%;
	}
	.medium-14 {
		width: 46.66667%;
	}
	.medium-15 {
		width: 50%;
	}
	.medium-16 {
		width: 53.33333%;
	}
	.medium-17 {
		width: 56.66667%;
	}
	.medium-18 {
		width: 60%;
	}
	.medium-19 {
		width: 63.33333%;
	}
	.medium-20 {
		width: 66.66667%;
	}
	.medium-21 {
		width: 70%;
	}
	.medium-22 {
		width: 73.33333%;
	}
	.medium-23 {
		width: 76.66667%;
	}
	.medium-24 {
		width: 80%;
	}
	.medium-25 {
		width: 83.33333%;
	}
	.medium-26 {
		width: 86.66667%;
	}
	.medium-27 {
		width: 90%;
	}
	.medium-28 {
		width: 93.33333%;
	}
	.medium-29 {
		width: 96.66667%;
	}
	.medium-30 {
		width: 100%;
	}
	.medium-offset-0 {
		margin-left: 0 !important;
	}
	.medium-offset-1 {
		margin-left: 3.33333% !important;
	}
	.medium-offset-2 {
		margin-left: 6.66667% !important;
	}
	.medium-offset-3 {
		margin-left: 10% !important;
	}
	.medium-offset-4 {
		margin-left: 13.33333% !important;
	}
	.medium-offset-5 {
		margin-left: 16.66667% !important;
	}
	.medium-offset-6 {
		margin-left: 20% !important;
	}
	.medium-offset-7 {
		margin-left: 23.33333% !important;
	}
	.medium-offset-8 {
		margin-left: 26.66667% !important;
	}
	.medium-offset-9 {
		margin-left: 30% !important;
	}
	.medium-offset-10 {
		margin-left: 33.33333% !important;
	}
	.medium-offset-11 {
		margin-left: 36.66667% !important;
	}
	.medium-offset-12 {
		margin-left: 40% !important;
	}
	.medium-offset-13 {
		margin-left: 43.33333% !important;
	}
	.medium-offset-14 {
		margin-left: 46.66667% !important;
	}
	.medium-offset-15 {
		margin-left: 50% !important;
	}
	.medium-offset-16 {
		margin-left: 53.33333% !important;
	}
	.medium-offset-17 {
		margin-left: 56.66667% !important;
	}
	.medium-offset-18 {
		margin-left: 60% !important;
	}
	.medium-offset-19 {
		margin-left: 63.33333% !important;
	}
	.medium-offset-20 {
		margin-left: 66.66667% !important;
	}
	.medium-offset-21 {
		margin-left: 70% !important;
	}
	.medium-offset-22 {
		margin-left: 73.33333% !important;
	}
	.medium-offset-23 {
		margin-left: 76.66667% !important;
	}
	.medium-offset-24 {
		margin-left: 80% !important;
	}
	.medium-offset-25 {
		margin-left: 83.33333% !important;
	}
	.medium-offset-26 {
		margin-left: 86.66667% !important;
	}
	.medium-offset-27 {
		margin-left: 90% !important;
	}
	.medium-offset-28 {
		margin-left: 93.33333% !important;
	}
	.medium-offset-29 {
		margin-left: 96.66667% !important;
	}
	.medium-reset-order {
		float: left;
		left: auto;
		margin-left: 0;
		margin-right: 0;
		right: auto;
	}
	.column.medium-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
		&:last-child {
			float: none;
		}
	}
	.columns.medium-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
		&:last-child {
			float: none;
		}
	}
	.column.medium-uncentered {
		float: left;
		margin-left: 0;
		margin-right: 0;
		&:last-child {
			float: left;
		}
	}
	.columns.medium-uncentered {
		float: left;
		margin-left: 0;
		margin-right: 0;
		&:last-child {
			float: left;
		}
	}
	.column.medium-uncentered.opposite {
		float: right;
	}
	.columns.medium-uncentered.opposite {
		float: right;
	}
	.row.medium-collapse {
		>.column {
			padding-left: 0;
			padding-right: 0;
		}
		>.columns {
			padding-left: 0;
			padding-right: 0;
		}
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.row.medium-uncollapse {
		>.column {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			float: left;
		}
		>.columns {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			float: left;
		}
	}
	.push-0 {
		position: relative;
		left: 0;
		right: auto;
	}
	.pull-0 {
		position: relative;
		right: 0;
		left: auto;
	}
	.push-1 {
		position: relative;
		left: 3.33333%;
		right: auto;
	}
	.pull-1 {
		position: relative;
		right: 3.33333%;
		left: auto;
	}
	.push-2 {
		position: relative;
		left: 6.66667%;
		right: auto;
	}
	.pull-2 {
		position: relative;
		right: 6.66667%;
		left: auto;
	}
	.push-3 {
		position: relative;
		left: 10%;
		right: auto;
	}
	.pull-3 {
		position: relative;
		right: 10%;
		left: auto;
	}
	.push-4 {
		position: relative;
		left: 13.33333%;
		right: auto;
	}
	.pull-4 {
		position: relative;
		right: 13.33333%;
		left: auto;
	}
	.push-5 {
		position: relative;
		left: 16.66667%;
		right: auto;
	}
	.pull-5 {
		position: relative;
		right: 16.66667%;
		left: auto;
	}
	.push-6 {
		position: relative;
		left: 20%;
		right: auto;
	}
	.pull-6 {
		position: relative;
		right: 20%;
		left: auto;
	}
	.push-7 {
		position: relative;
		left: 23.33333%;
		right: auto;
	}
	.pull-7 {
		position: relative;
		right: 23.33333%;
		left: auto;
	}
	.push-8 {
		position: relative;
		left: 26.66667%;
		right: auto;
	}
	.pull-8 {
		position: relative;
		right: 26.66667%;
		left: auto;
	}
	.push-9 {
		position: relative;
		left: 30%;
		right: auto;
	}
	.pull-9 {
		position: relative;
		right: 30%;
		left: auto;
	}
	.push-10 {
		position: relative;
		left: 33.33333%;
		right: auto;
	}
	.pull-10 {
		position: relative;
		right: 33.33333%;
		left: auto;
	}
	.push-11 {
		position: relative;
		left: 36.66667%;
		right: auto;
	}
	.pull-11 {
		position: relative;
		right: 36.66667%;
		left: auto;
	}
	.push-12 {
		position: relative;
		left: 40%;
		right: auto;
	}
	.pull-12 {
		position: relative;
		right: 40%;
		left: auto;
	}
	.push-13 {
		position: relative;
		left: 43.33333%;
		right: auto;
	}
	.pull-13 {
		position: relative;
		right: 43.33333%;
		left: auto;
	}
	.push-14 {
		position: relative;
		left: 46.66667%;
		right: auto;
	}
	.pull-14 {
		position: relative;
		right: 46.66667%;
		left: auto;
	}
	.push-15 {
		position: relative;
		left: 50%;
		right: auto;
	}
	.pull-15 {
		position: relative;
		right: 50%;
		left: auto;
	}
	.push-16 {
		position: relative;
		left: 53.33333%;
		right: auto;
	}
	.pull-16 {
		position: relative;
		right: 53.33333%;
		left: auto;
	}
	.push-17 {
		position: relative;
		left: 56.66667%;
		right: auto;
	}
	.pull-17 {
		position: relative;
		right: 56.66667%;
		left: auto;
	}
	.push-18 {
		position: relative;
		left: 60%;
		right: auto;
	}
	.pull-18 {
		position: relative;
		right: 60%;
		left: auto;
	}
	.push-19 {
		position: relative;
		left: 63.33333%;
		right: auto;
	}
	.pull-19 {
		position: relative;
		right: 63.33333%;
		left: auto;
	}
	.push-20 {
		position: relative;
		left: 66.66667%;
		right: auto;
	}
	.pull-20 {
		position: relative;
		right: 66.66667%;
		left: auto;
	}
	.push-21 {
		position: relative;
		left: 70%;
		right: auto;
	}
	.pull-21 {
		position: relative;
		right: 70%;
		left: auto;
	}
	.push-22 {
		position: relative;
		left: 73.33333%;
		right: auto;
	}
	.pull-22 {
		position: relative;
		right: 73.33333%;
		left: auto;
	}
	.push-23 {
		position: relative;
		left: 76.66667%;
		right: auto;
	}
	.pull-23 {
		position: relative;
		right: 76.66667%;
		left: auto;
	}
	.push-24 {
		position: relative;
		left: 80%;
		right: auto;
	}
	.pull-24 {
		position: relative;
		right: 80%;
		left: auto;
	}
	.push-25 {
		position: relative;
		left: 83.33333%;
		right: auto;
	}
	.pull-25 {
		position: relative;
		right: 83.33333%;
		left: auto;
	}
	.push-26 {
		position: relative;
		left: 86.66667%;
		right: auto;
	}
	.pull-26 {
		position: relative;
		right: 86.66667%;
		left: auto;
	}
	.push-27 {
		position: relative;
		left: 90%;
		right: auto;
	}
	.pull-27 {
		position: relative;
		right: 90%;
		left: auto;
	}
	.push-28 {
		position: relative;
		left: 93.33333%;
		right: auto;
	}
	.pull-28 {
		position: relative;
		right: 93.33333%;
		left: auto;
	}
	.push-29 {
		position: relative;
		left: 96.66667%;
		right: auto;
	}
	.pull-29 {
		position: relative;
		right: 96.66667%;
		left: auto;
	}
}
@media only screen and (min-width: 64.0625em) {
	.large-push-0 {
		position: relative;
		left: 0;
		right: auto;
	}
	.large-pull-0 {
		position: relative;
		right: 0;
		left: auto;
	}
	.large-push-1 {
		position: relative;
		left: 3.33333%;
		right: auto;
	}
	.large-pull-1 {
		position: relative;
		right: 3.33333%;
		left: auto;
	}
	.large-push-2 {
		position: relative;
		left: 6.66667%;
		right: auto;
	}
	.large-pull-2 {
		position: relative;
		right: 6.66667%;
		left: auto;
	}
	.large-push-3 {
		position: relative;
		left: 10%;
		right: auto;
	}
	.large-pull-3 {
		position: relative;
		right: 10%;
		left: auto;
	}
	.large-push-4 {
		position: relative;
		left: 13.33333%;
		right: auto;
	}
	.large-pull-4 {
		position: relative;
		right: 13.33333%;
		left: auto;
	}
	.large-push-5 {
		position: relative;
		left: 16.66667%;
		right: auto;
	}
	.large-pull-5 {
		position: relative;
		right: 16.66667%;
		left: auto;
	}
	.large-push-6 {
		position: relative;
		left: 20%;
		right: auto;
	}
	.large-pull-6 {
		position: relative;
		right: 20%;
		left: auto;
	}
	.large-push-7 {
		position: relative;
		left: 23.33333%;
		right: auto;
	}
	.large-pull-7 {
		position: relative;
		right: 23.33333%;
		left: auto;
	}
	.large-push-8 {
		position: relative;
		left: 26.66667%;
		right: auto;
	}
	.large-pull-8 {
		position: relative;
		right: 26.66667%;
		left: auto;
	}
	.large-push-9 {
		position: relative;
		left: 30%;
		right: auto;
	}
	.large-pull-9 {
		position: relative;
		right: 30%;
		left: auto;
	}
	.large-push-10 {
		position: relative;
		left: 33.33333%;
		right: auto;
	}
	.large-pull-10 {
		position: relative;
		right: 33.33333%;
		left: auto;
	}
	.large-push-11 {
		position: relative;
		left: 36.66667%;
		right: auto;
	}
	.large-pull-11 {
		position: relative;
		right: 36.66667%;
		left: auto;
	}
	.large-push-12 {
		position: relative;
		left: 40%;
		right: auto;
	}
	.large-pull-12 {
		position: relative;
		right: 40%;
		left: auto;
	}
	.large-push-13 {
		position: relative;
		left: 43.33333%;
		right: auto;
	}
	.large-pull-13 {
		position: relative;
		right: 43.33333%;
		left: auto;
	}
	.large-push-14 {
		position: relative;
		left: 46.66667%;
		right: auto;
	}
	.large-pull-14 {
		position: relative;
		right: 46.66667%;
		left: auto;
	}
	.large-push-15 {
		position: relative;
		left: 50%;
		right: auto;
	}
	.large-pull-15 {
		position: relative;
		right: 50%;
		left: auto;
	}
	.large-push-16 {
		position: relative;
		left: 53.33333%;
		right: auto;
	}
	.large-pull-16 {
		position: relative;
		right: 53.33333%;
		left: auto;
	}
	.large-push-17 {
		position: relative;
		left: 56.66667%;
		right: auto;
	}
	.large-pull-17 {
		position: relative;
		right: 56.66667%;
		left: auto;
	}
	.large-push-18 {
		position: relative;
		left: 60%;
		right: auto;
	}
	.large-pull-18 {
		position: relative;
		right: 60%;
		left: auto;
	}
	.large-push-19 {
		position: relative;
		left: 63.33333%;
		right: auto;
	}
	.large-pull-19 {
		position: relative;
		right: 63.33333%;
		left: auto;
	}
	.large-push-20 {
		position: relative;
		left: 66.66667%;
		right: auto;
	}
	.large-pull-20 {
		position: relative;
		right: 66.66667%;
		left: auto;
	}
	.large-push-21 {
		position: relative;
		left: 70%;
		right: auto;
	}
	.large-pull-21 {
		position: relative;
		right: 70%;
		left: auto;
	}
	.large-push-22 {
		position: relative;
		left: 73.33333%;
		right: auto;
	}
	.large-pull-22 {
		position: relative;
		right: 73.33333%;
		left: auto;
	}
	.large-push-23 {
		position: relative;
		left: 76.66667%;
		right: auto;
	}
	.large-pull-23 {
		position: relative;
		right: 76.66667%;
		left: auto;
	}
	.large-push-24 {
		position: relative;
		left: 80%;
		right: auto;
	}
	.large-pull-24 {
		position: relative;
		right: 80%;
		left: auto;
	}
	.large-push-25 {
		position: relative;
		left: 83.33333%;
		right: auto;
	}
	.large-pull-25 {
		position: relative;
		right: 83.33333%;
		left: auto;
	}
	.large-push-26 {
		position: relative;
		left: 86.66667%;
		right: auto;
	}
	.large-pull-26 {
		position: relative;
		right: 86.66667%;
		left: auto;
	}
	.large-push-27 {
		position: relative;
		left: 90%;
		right: auto;
	}
	.large-pull-27 {
		position: relative;
		right: 90%;
		left: auto;
	}
	.large-push-28 {
		position: relative;
		left: 93.33333%;
		right: auto;
	}
	.large-pull-28 {
		position: relative;
		right: 93.33333%;
		left: auto;
	}
	.large-push-29 {
		position: relative;
		left: 96.66667%;
		right: auto;
	}
	.large-pull-29 {
		position: relative;
		right: 96.66667%;
		left: auto;
	}
	.column {
		position: relative;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		float: left;
	}
	.columns {
		position: relative;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		float: left;
	}
	.large-1 {
		width: 3.33333%;
	}
	.large-2 {
		width: 6.66667%;
	}
	.large-3 {
		width: 10%;
	}
	.large-4 {
		width: 13.33333%;
	}
	.large-5 {
		width: 16.66667%;
	}
	.large-6 {
		width: 20%;
	}
	.large-7 {
		width: 23.33333%;
	}
	.large-8 {
		width: 26.66667%;
	}
	.large-9 {
		width: 30%;
	}
	.large-10 {
		width: 33.33333%;
	}
	.large-11 {
		width: 36.66667%;
	}
	.large-12 {
		width: 40%;
	}
	.large-13 {
		width: 43.33333%;
	}
	.large-14 {
		width: 46.66667%;
	}
	.large-15 {
		width: 50%;
	}
	.large-16 {
		width: 53.33333%;
	}
	.large-17 {
		width: 56.66667%;
	}
	.large-18 {
		width: 60%;
	}
	.large-19 {
		width: 63.33333%;
	}
	.large-20 {
		width: 66.66667%;
	}
	.large-21 {
		width: 70%;
	}
	.large-22 {
		width: 73.33333%;
	}
	.large-23 {
		width: 76.66667%;
	}
	.large-24 {
		width: 80%;
	}
	.large-25 {
		width: 83.33333%;
	}
	.large-26 {
		width: 86.66667%;
	}
	.large-27 {
		width: 90%;
	}
	.large-28 {
		width: 93.33333%;
	}
	.large-29 {
		width: 96.66667%;
	}
	.large-30 {
		width: 100%;
	}
	.large-offset-0 {
		margin-left: 0 !important;
	}
	.large-offset-1 {
		margin-left: 3.33333% !important;
	}
	.large-offset-2 {
		margin-left: 6.66667% !important;
	}
	.large-offset-3 {
		margin-left: 10% !important;
	}
	.large-offset-4 {
		margin-left: 13.33333% !important;
	}
	.large-offset-5 {
		margin-left: 16.66667% !important;
	}
	.large-offset-6 {
		margin-left: 20% !important;
	}
	.large-offset-7 {
		margin-left: 23.33333% !important;
	}
	.large-offset-8 {
		margin-left: 26.66667% !important;
	}
	.large-offset-9 {
		margin-left: 30% !important;
	}
	.large-offset-10 {
		margin-left: 33.33333% !important;
	}
	.large-offset-11 {
		margin-left: 36.66667% !important;
	}
	.large-offset-12 {
		margin-left: 40% !important;
	}
	.large-offset-13 {
		margin-left: 43.33333% !important;
	}
	.large-offset-14 {
		margin-left: 46.66667% !important;
	}
	.large-offset-15 {
		margin-left: 50% !important;
	}
	.large-offset-16 {
		margin-left: 53.33333% !important;
	}
	.large-offset-17 {
		margin-left: 56.66667% !important;
	}
	.large-offset-18 {
		margin-left: 60% !important;
	}
	.large-offset-19 {
		margin-left: 63.33333% !important;
	}
	.large-offset-20 {
		margin-left: 66.66667% !important;
	}
	.large-offset-21 {
		margin-left: 70% !important;
	}
	.large-offset-22 {
		margin-left: 73.33333% !important;
	}
	.large-offset-23 {
		margin-left: 76.66667% !important;
	}
	.large-offset-24 {
		margin-left: 80% !important;
	}
	.large-offset-25 {
		margin-left: 83.33333% !important;
	}
	.large-offset-26 {
		margin-left: 86.66667% !important;
	}
	.large-offset-27 {
		margin-left: 90% !important;
	}
	.large-offset-28 {
		margin-left: 93.33333% !important;
	}
	.large-offset-29 {
		margin-left: 96.66667% !important;
	}
	.large-reset-order {
		float: left;
		left: auto;
		margin-left: 0;
		margin-right: 0;
		right: auto;
	}
	.column.large-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
		&:last-child {
			float: none;
		}
	}
	.columns.large-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
		&:last-child {
			float: none;
		}
	}
	.column.large-uncentered {
		float: left;
		margin-left: 0;
		margin-right: 0;
		&:last-child {
			float: left;
		}
	}
	.columns.large-uncentered {
		float: left;
		margin-left: 0;
		margin-right: 0;
		&:last-child {
			float: left;
		}
	}
	.column.large-uncentered.opposite {
		float: right;
	}
	.columns.large-uncentered.opposite {
		float: right;
	}
	.row.large-collapse {
		>.column {
			padding-left: 0;
			padding-right: 0;
		}
		>.columns {
			padding-left: 0;
			padding-right: 0;
		}
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.row.large-uncollapse {
		>.column {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			float: left;
		}
		>.columns {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			float: left;
		}
	}
	.push-0 {
		position: relative;
		left: 0;
		right: auto;
	}
	.pull-0 {
		position: relative;
		right: 0;
		left: auto;
	}
	.push-1 {
		position: relative;
		left: 3.33333%;
		right: auto;
	}
	.pull-1 {
		position: relative;
		right: 3.33333%;
		left: auto;
	}
	.push-2 {
		position: relative;
		left: 6.66667%;
		right: auto;
	}
	.pull-2 {
		position: relative;
		right: 6.66667%;
		left: auto;
	}
	.push-3 {
		position: relative;
		left: 10%;
		right: auto;
	}
	.pull-3 {
		position: relative;
		right: 10%;
		left: auto;
	}
	.push-4 {
		position: relative;
		left: 13.33333%;
		right: auto;
	}
	.pull-4 {
		position: relative;
		right: 13.33333%;
		left: auto;
	}
	.push-5 {
		position: relative;
		left: 16.66667%;
		right: auto;
	}
	.pull-5 {
		position: relative;
		right: 16.66667%;
		left: auto;
	}
	.push-6 {
		position: relative;
		left: 20%;
		right: auto;
	}
	.pull-6 {
		position: relative;
		right: 20%;
		left: auto;
	}
	.push-7 {
		position: relative;
		left: 23.33333%;
		right: auto;
	}
	.pull-7 {
		position: relative;
		right: 23.33333%;
		left: auto;
	}
	.push-8 {
		position: relative;
		left: 26.66667%;
		right: auto;
	}
	.pull-8 {
		position: relative;
		right: 26.66667%;
		left: auto;
	}
	.push-9 {
		position: relative;
		left: 30%;
		right: auto;
	}
	.pull-9 {
		position: relative;
		right: 30%;
		left: auto;
	}
	.push-10 {
		position: relative;
		left: 33.33333%;
		right: auto;
	}
	.pull-10 {
		position: relative;
		right: 33.33333%;
		left: auto;
	}
	.push-11 {
		position: relative;
		left: 36.66667%;
		right: auto;
	}
	.pull-11 {
		position: relative;
		right: 36.66667%;
		left: auto;
	}
	.push-12 {
		position: relative;
		left: 40%;
		right: auto;
	}
	.pull-12 {
		position: relative;
		right: 40%;
		left: auto;
	}
	.push-13 {
		position: relative;
		left: 43.33333%;
		right: auto;
	}
	.pull-13 {
		position: relative;
		right: 43.33333%;
		left: auto;
	}
	.push-14 {
		position: relative;
		left: 46.66667%;
		right: auto;
	}
	.pull-14 {
		position: relative;
		right: 46.66667%;
		left: auto;
	}
	.push-15 {
		position: relative;
		left: 50%;
		right: auto;
	}
	.pull-15 {
		position: relative;
		right: 50%;
		left: auto;
	}
	.push-16 {
		position: relative;
		left: 53.33333%;
		right: auto;
	}
	.pull-16 {
		position: relative;
		right: 53.33333%;
		left: auto;
	}
	.push-17 {
		position: relative;
		left: 56.66667%;
		right: auto;
	}
	.pull-17 {
		position: relative;
		right: 56.66667%;
		left: auto;
	}
	.push-18 {
		position: relative;
		left: 60%;
		right: auto;
	}
	.pull-18 {
		position: relative;
		right: 60%;
		left: auto;
	}
	.push-19 {
		position: relative;
		left: 63.33333%;
		right: auto;
	}
	.pull-19 {
		position: relative;
		right: 63.33333%;
		left: auto;
	}
	.push-20 {
		position: relative;
		left: 66.66667%;
		right: auto;
	}
	.pull-20 {
		position: relative;
		right: 66.66667%;
		left: auto;
	}
	.push-21 {
		position: relative;
		left: 70%;
		right: auto;
	}
	.pull-21 {
		position: relative;
		right: 70%;
		left: auto;
	}
	.push-22 {
		position: relative;
		left: 73.33333%;
		right: auto;
	}
	.pull-22 {
		position: relative;
		right: 73.33333%;
		left: auto;
	}
	.push-23 {
		position: relative;
		left: 76.66667%;
		right: auto;
	}
	.pull-23 {
		position: relative;
		right: 76.66667%;
		left: auto;
	}
	.push-24 {
		position: relative;
		left: 80%;
		right: auto;
	}
	.pull-24 {
		position: relative;
		right: 80%;
		left: auto;
	}
	.push-25 {
		position: relative;
		left: 83.33333%;
		right: auto;
	}
	.pull-25 {
		position: relative;
		right: 83.33333%;
		left: auto;
	}
	.push-26 {
		position: relative;
		left: 86.66667%;
		right: auto;
	}
	.pull-26 {
		position: relative;
		right: 86.66667%;
		left: auto;
	}
	.push-27 {
		position: relative;
		left: 90%;
		right: auto;
	}
	.pull-27 {
		position: relative;
		right: 90%;
		left: auto;
	}
	.push-28 {
		position: relative;
		left: 93.33333%;
		right: auto;
	}
	.pull-28 {
		position: relative;
		right: 93.33333%;
		left: auto;
	}
	.push-29 {
		position: relative;
		left: 96.66667%;
		right: auto;
	}
	.pull-29 {
		position: relative;
		right: 96.66667%;
		left: auto;
	}
}
