@media only screen and (max-width: 40.0625em) {
  body{
    .man_overlay{
      h3.mobile{
        color: #fff; 
        background-color: #F5821F;
        padding: rem-calc(25 10);
        width: 95%;
        margin: auto;
        margin-top: 50%;
        border-radius: rem-calc(20);

      }
      .cta {
        position: absolute;
        bottom: auto;
        right: 5%;
        float: right;
        margin-top: 31px;
      }
    }
    .row {
      padding: rem-calc(0 10);
    }
    .instructions {
      .content {
        .heading {
          font-size: 3vw;
          text-align: center;
        }
        ul {
          li {
            font-size: 4vw;
            line-height: normal;
          }
        }
      }
    }
    .instruction_overlay {
      .content {
        .heading {
          font-size: 3vw;
          text-align: center;
        }
        ul {
          li {
            font-size: 2.5vw;
            line-height: normal;
          }
        }
      }
    }
    .question {
      .question_body {
        .bubble_container {
          .bubble {
            width: 70vw;
            top: rem-calc(35);
            left: 0;
          }
          .arrow {
            top: rem-calc(25);
            left: rem-calc(45);
            transform: rotate(35deg);
          }
        }
      }
      .progress_bar {
        top: rem-calc(95);
      }
    }
    .start_assessment {
      .heading {
        font-size: 5vw;
      }
    }

  }

}
@media only screen {
  .show-for-small-only {
    display: inherit !important;
  }
  .show-for-small-up {
    display: inherit !important;
  }
  .show-for-small {
    display: inherit !important;
  }
  .show-for-small-down {
    display: inherit !important;
  }
  .hide-for-medium-only {
    display: inherit !important;
  }
  .hide-for-medium-up {
    display: inherit !important;
  }
  .hide-for-medium {
    display: inherit !important;
  }
  .show-for-medium-down {
    display: inherit !important;
  }
  .hide-for-large-only {
    display: inherit !important;
  }
  .hide-for-large-up {
    display: inherit !important;
  }
  .hide-for-large {
    display: inherit !important;
  }
  .show-for-large-down {
    display: inherit !important;
  }
  .hide-for-xlarge-only {
    display: inherit !important;
  }
  .hide-for-xlarge-up {
    display: inherit !important;
  }
  .hide-for-xxlarge-only {
    display: inherit !important;
  }
  .hide-for-xxlarge-up {
    display: inherit !important;
  }
  .hide-for-small-only {
    display: none !important;
  }
  .hide-for-small-up {
    display: none !important;
  }
  .hide-for-small {
    display: none !important;
  }
  .hide-for-small-down {
    display: none !important;
  }
  .show-for-medium-only {
    display: none !important;
  }
  .show-for-medium-up {
    display: none !important;
  }
  .show-for-medium {
    display: none !important;
  }
  .hide-for-medium-down {
    display: none !important;
  }
  .show-for-large-only {
    display: none !important;
  }
  .show-for-large-up {
    display: none !important;
  }
  .show-for-large {
    display: none !important;
  }
  .hide-for-large-down {
    display: none !important;
  }
  .show-for-xlarge-only {
    display: none !important;
  }
  .show-for-xlarge-up {
    display: none !important;
  }
  .show-for-xxlarge-only {
    display: none !important;
  }
  .show-for-xxlarge-up {
    display: none !important;
  }
}
@media only screen and (min-width: 40.0625em) {
  .hide-for-small-only {
    display: inherit !important;
  }
  .show-for-small-up {
    display: inherit !important;
  }
  .hide-for-small {
    display: inherit !important;
  }
  .hide-for-small-down {
    display: inherit !important;
  }
  .show-for-medium-only {
    display: inherit !important;
  }
  .show-for-medium-up {
    display: inherit !important;
  }
  .show-for-medium {
    display: inherit !important;
  }
  .show-for-medium-down {
    display: inherit !important;
  }
  .hide-for-large-only {
    display: inherit !important;
  }
  .hide-for-large-up {
    display: inherit !important;
  }
  .hide-for-large {
    display: inherit !important;
  }
  .show-for-large-down {
    display: inherit !important;
  }
  .hide-for-xlarge-only {
    display: inherit !important;
  }
  .hide-for-xlarge-up {
    display: inherit !important;
  }
  .hide-for-xxlarge-only {
    display: inherit !important;
  }
  .hide-for-xxlarge-up {
    display: inherit !important;
  }
  .show-for-small-only {
    display: none !important;
  }
  .hide-for-small-up {
    display: none !important;
  }
  .show-for-small {
    display: none !important;
  }
  .show-for-small-down {
    display: none !important;
  }
  .hide-for-medium-only {
    display: none !important;
  }
  .hide-for-medium-up {
    display: none !important;
  }
  .hide-for-medium {
    display: none !important;
  }
  .hide-for-medium-down {
    display: none !important;
  }
  .show-for-large-only {
    display: none !important;
  }
  .show-for-large-up {
    display: none !important;
  }
  .show-for-large {
    display: none !important;
  }
  .hide-for-large-down {
    display: none !important;
  }
  .show-for-xlarge-only {
    display: none !important;
  }
  .show-for-xlarge-up {
    display: none !important;
  }
  .show-for-xxlarge-only {
    display: none !important;
  }
  .show-for-xxlarge-up {
    display: none !important;
  }
}
@media only screen and (min-width: 64.0625em) {
  .hide-for-small-only {
    display: inherit !important;
  }
  .show-for-small-up {
    display: inherit !important;
  }
  .hide-for-small {
    display: inherit !important;
  }
  .hide-for-small-down {
    display: inherit !important;
  }
  .hide-for-medium-only {
    display: inherit !important;
  }
  .show-for-medium-up {
    display: inherit !important;
  }
  .hide-for-medium {
    display: inherit !important;
  }
  .hide-for-medium-down {
    display: inherit !important;
  }
  .show-for-large-only {
    display: inherit !important;
  }
  .show-for-large-up {
    display: inherit !important;
  }
  .show-for-large {
    display: inherit !important;
  }
  .show-for-large-down {
    display: inherit !important;
  }
  .hide-for-xlarge-only {
    display: inherit !important;
  }
  .hide-for-xlarge-up {
    display: inherit !important;
  }
  .hide-for-xxlarge-only {
    display: inherit !important;
  }
  .hide-for-xxlarge-up {
    display: inherit !important;
  }
  .show-for-small-only {
    display: none !important;
  }
  .hide-for-small-up {
    display: none !important;
  }
  .show-for-small {
    display: none !important;
  }
  .show-for-small-down {
    display: none !important;
  }
  .show-for-medium-only {
    display: none !important;
  }
  .hide-for-medium-up {
    display: none !important;
  }
  .show-for-medium {
    display: none !important;
  }
  .show-for-medium-down {
    display: none !important;
  }
  .hide-for-large-only {
    display: none !important;
  }
  .hide-for-large-up {
    display: none !important;
  }
  .hide-for-large {
    display: none !important;
  }
  .hide-for-large-down {
    display: none !important;
  }
  .show-for-xlarge-only {
    display: none !important;
  }
  .show-for-xlarge-up {
    display: none !important;
  }
  .show-for-xxlarge-only {
    display: none !important;
  }
  .show-for-xxlarge-up {
    display: none !important;
  }
}
@media only screen and (min-width: 90.0625em) {
  .hide-for-small-only {
    display: inherit !important;
  }
  .show-for-small-up {
    display: inherit !important;
  }
  .hide-for-small {
    display: inherit !important;
  }
  .hide-for-small-down {
    display: inherit !important;
  }
  .hide-for-medium-only {
    display: inherit !important;
  }
  .show-for-medium-up {
    display: inherit !important;
  }
  .hide-for-medium {
    display: inherit !important;
  }
  .hide-for-medium-down {
    display: inherit !important;
  }
  .hide-for-large-only {
    display: inherit !important;
  }
  .show-for-large-up {
    display: inherit !important;
  }
  .hide-for-large {
    display: inherit !important;
  }
  .hide-for-large-down {
    display: inherit !important;
  }
  .show-for-xlarge-only {
    display: inherit !important;
  }
  .show-for-xlarge-up {
    display: inherit !important;
  }
  .hide-for-xxlarge-only {
    display: inherit !important;
  }
  .hide-for-xxlarge-up {
    display: inherit !important;
  }
  .show-for-small-only {
    display: none !important;
  }
  .hide-for-small-up {
    display: none !important;
  }
  .show-for-small {
    display: none !important;
  }
  .show-for-small-down {
    display: none !important;
  }
  .show-for-medium-only {
    display: none !important;
  }
  .hide-for-medium-up {
    display: none !important;
  }
  .show-for-medium {
    display: none !important;
  }
  .show-for-medium-down {
    display: none !important;
  }
  .show-for-large-only {
    display: none !important;
  }
  .hide-for-large-up {
    display: none !important;
  }
  .show-for-large {
    display: none !important;
  }
  .show-for-large-down {
    display: none !important;
  }
  .hide-for-xlarge-only {
    display: none !important;
  }
  .hide-for-xlarge-up {
    display: none !important;
  }
  .show-for-xxlarge-only {
    display: none !important;
  }
  .show-for-xxlarge-up {
    display: none !important;
  }
}
@media only screen and (min-width: 120.0625em) {
  .hide-for-small-only {
    display: inherit !important;
  }
  .show-for-small-up {
    display: inherit !important;
  }
  .hide-for-small {
    display: inherit !important;
  }
  .hide-for-small-down {
    display: inherit !important;
  }
  .hide-for-medium-only {
    display: inherit !important;
  }
  .show-for-medium-up {
    display: inherit !important;
  }
  .hide-for-medium {
    display: inherit !important;
  }
  .hide-for-medium-down {
    display: inherit !important;
  }
  .hide-for-large-only {
    display: inherit !important;
  }
  .show-for-large-up {
    display: inherit !important;
  }
  .hide-for-large {
    display: inherit !important;
  }
  .hide-for-large-down {
    display: inherit !important;
  }
  .hide-for-xlarge-only {
    display: inherit !important;
  }
  .show-for-xlarge-up {
    display: inherit !important;
  }
  .show-for-xxlarge-only {
    display: inherit !important;
  }
  .show-for-xxlarge-up {
    display: inherit !important;
  }
  .show-for-small-only {
    display: none !important;
  }
  .hide-for-small-up {
    display: none !important;
  }
  .show-for-small {
    display: none !important;
  }
  .show-for-small-down {
    display: none !important;
  }
  .show-for-medium-only {
    display: none !important;
  }
  .hide-for-medium-up {
    display: none !important;
  }
  .show-for-medium {
    display: none !important;
  }
  .show-for-medium-down {
    display: none !important;
  }
  .show-for-large-only {
    display: none !important;
  }
  .hide-for-large-up {
    display: none !important;
  }
  .show-for-large {
    display: none !important;
  }
  .show-for-large-down {
    display: none !important;
  }
  .show-for-xlarge-only {
    display: none !important;
  }
  .hide-for-xlarge-up {
    display: none !important;
  }
  .hide-for-xxlarge-only {
    display: none !important;
  }
  .hide-for-xxlarge-up {
    display: none !important;
  }
}
@media only screen and (orientation: landscape) {
  .show-for-landscape {
    display: inherit !important;
  }
  .hide-for-portrait {
    display: inherit !important;
  }
  .hide-for-landscape {
    display: none !important;
  }
  .show-for-portrait {
    display: none !important;
  }
}
@media only screen and (orientation: portrait) {
  .show-for-portrait {
    display: inherit !important;
  }
  .hide-for-landscape {
    display: inherit !important;
  }
  .hide-for-portrait {
    display: none !important;
  }
  .show-for-landscape {
    display: none !important;
  }
  table.show-for-portrait {
    display: table !important;
  }
  table.hide-for-landscape {
    display: table !important;
  }
}