<ul class="tab_group clearfix">
  <li
    [ngClass] = "{ active: selected_tab_index == 0}"
    (click) = "selected_tab_index = 0">Inbox({{ unread_emails_count }})</li>
  <li [ngClass] = "{ active: selected_tab_index == 1}"
    (click) = "selected_tab_index = 1">calendar</li>
  <li [ngClass] = "{ active: selected_tab_index == 2}"
    (click) = "selected_tab_index = 2">Team</li>
  <li class="right" [ngClass] = "{ active: selected_tab_index == 3}"
    (click) = "selected_tab_index = 3">Background Information</li>
  <li class="right" [ngClass] = "{ active: selected_tab_index == 4}"
    (click) = "selected_tab_index = 4">Team Structure</li>
</ul>
<ul class="tab_content">
  <li class="content_item" [ngClass] = "{ active: selected_tab_index == 0}">
    <inbox></inbox>
  </li>
  <li class="content_item" [ngClass] = "{ active: selected_tab_index == 1}">
    <calendar></calendar>
  </li>
  <li class="content_item" [ngClass] = "{ active: selected_tab_index == 2}">
    <team></team>
  </li>
 <!--  <li class="content_item" >
    <introduction></introduction>
  </li> -->

  <li class="content_item" [ngClass] = "{ active: selected_tab_index == 3}" style="max-height: calc(100vh - 180px);overflow-y: auto">
    <div class="divider2"></div>
    <div class="background_information">
      <div class="row">
        <div class="row large-25 medium-25 small-30 margin-auto" [innerHTML] = 'description'>
        </div>
        <div class="divider2"></div>
      </div>
    </div>
  </li>

  <li class="content_item" [ngClass] = "{ active: selected_tab_index == 4}">
    <div class="large-30 medium-30 small-30 margin-auto text-center">
      <div class="org_chart">
        <div class="divider2"></div>
        <img src="./assets/images/in/{{ s3_asset_folder }}/org_chart.png" alt="">
        <div class="divider2"></div>
      </div>
    </div>
  </li>

</ul>
<!-- <mat-tab-group>
  <mat-tab label="Inbox({{ unread_emails_count }})">
    <inbox></inbox>
  </mat-tab>

  <mat-tab label="calendar">
    <calendar></calendar>
  </mat-tab>

  <mat-tab label="Team">
    <team></team>
  </mat-tab>

  <mat-tab label="Introduction">
    <introduction></introduction>
  </mat-tab>

  <mat-tab label="Background Information">
    <div class="divider2"></div>
    <div class="background_information">
      <div class="row">

        <div class="row large-25 medium-25 small-30 margin-auto">
          BG info HTML
        </div>
        <div class="divider2"></div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Team Chart">
    <div class="large-27 medium-27 small-30 margin-auto text-center">
      <div class="org_chart">
        <div class="divider2"></div>
        <img src="./assets/images/in/org_chart.png" alt="">
        <div class="divider2"></div>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>
 -->
