<div class="introduction">
  <div class="large-27 medium-27 small-30 margin-auto">
    <mat-tab-group>
      <mat-tab label="Background Information">
        <div class="divider2"></div>
        <div class="background_information">
          <div class="row">

            <div class="row large-25 medium-25 small-30 margin-auto" [innerHTML] = 'simulation.description'></div>
            <div class="divider2"></div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Team Chart">
        <div class="org_chart">
          <div class="divider2"></div>
          <img src="./assets/images/in/org_chart.png" alt="">
          <div class="divider2"></div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
